.gallery__item {
  display: block;
  text-decoration: none;
  color: #000000;
  transition: box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  display: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
}

.photo-card {
  margin-top: 10px;
  margin-left: 10px;

  flex-basis: calc((100% - 40px) / 4);
}
.card-img {
  width: 100%;
  height: 200px;
}

.search-form {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;

  border-bottom: 3px solid #f6f6f6;
}

input {
  padding: 10px;
  border: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: #2196f3;
  }
}

.search-btn {
  border: 0;
  min-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: #ffffff;
  background-color: #2196f3;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.load-more-btn-wrapper {
  text-align: center;

  margin-bottom: 10px;
}

.load-more {
  border: 0;
  min-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: #ffffff;
  background-color: #2196f3;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.info {
  display: flex;
}

.info-item {
  font-size: 13px;
  text-align: center;
}
